### ZSH
**/*/zsh/history
**/*/.zsh_history
**/*/.zcompdump
**/*/plugins

### NVM Installed dependencies
**/*/package-lock.json

### NVIM
**/*/lazy-lock.json
**/*/.luarc.json

### ASDF-VM
home_dots/.tool-versions

